/* .con{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin:1.5rem;
} */

img{
    height:80px;
    width:80px;
    border-radius: 50%;
    margin:0;
   
} 
td{
    vertical-align: middle;
}

 ul{
    list-style: none;
}


a{
    text-decoration: none;
    color:black;
} 

.checkout{
    border:1px gray solid;
    padding: 0;
    padding: 6rem 2rem; 
    color:red;
    font-weight: bold;
    text-align: center;
    
}

.checkout .product::before{
    content: 'Total Product : ';
    color:gray;
}

.checkout .bill::before{
    content: 'Total Bill : ';
    color:gray;
}

.check{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top:2rem;
    font-weight: bold;
    font-size:25px;
}




@media only screen and (max-width:500px){
    .checkout{
        padding:3rem;
    }
    .container-fluid{
        margin-top: 1rem !important;
    }
}

/* @media only screen and (max-width:820px){
    .checkout{
        padding:4rem;
    }
} */


