div{
    display:flex;
    justify-content: center;
    margin: 3rem 0 1rem 0;
}

div input{
    border-radius: 10rem 0 0 10rem;
    border:none;
    height:3rem;
    width:20rem;
    background-color: #f1f1f1;
    padding:1.2rem;
    font-size: 1rem;
    outline: none;
    font-weight: 500;
}

div button{
    color:gray;
    height:3rem;
    width:5rem;
    font-size:1rem;
    border-radius: 0 10rem 10rem 0;
    border:none;
    outline:none;
    background-color: red;
    color:white;
}

div button:hover{
    opacity:0.7;
}

@media only screen and (max-width:500px){
    div input{
        width:15rem;
        font-size:0.82rem;
        margin-top: -39px;
    }
}

@media only screen and (max-width:500px){
    div button{
        margin-top: -39px;
    }
}